.cardRecipe {
    margin-bottom: 30px;
  .main {
    height: 165px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    

    .photo {
      height: 106px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 18.1px 18.1px 0px 0px;
    }

    .dis{
        font-family: "Gilroy";
        padding:5px 20px;
        
        p{
            margin-block-start: 0em;
            margin-block-end: 0em;
        }

        .title{
            font-size: 14px;
        }

        .res{
            color: #838383;
            font-size: 14px;
        }
    }
  }
}
